AngulerWCFAndMVC/Service References/UserServiceReference/UserService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFRest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFRest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDataContract" nillable="true" type="tns:UserDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDataContract" nillable="true" type="tns:ArrayOfUserDataContract" />
  <xs:complexType name="UserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataContract" nillable="true" type="tns:UserDataContract" />
</xs:schema>